node_modules/chart.js/LICENSE.md
node_modules/chart.js/package.json
node_modules/chart.js/README.md
node_modules/chart.js/auto/auto.esm.d.ts
node_modules/chart.js/auto/auto.esm.js
node_modules/chart.js/auto/auto.js
node_modules/chart.js/auto/package.json
node_modules/chart.js/dist/chart.esm.js
node_modules/chart.js/dist/chart.js
node_modules/chart.js/dist/chart.min.js
node_modules/chart.js/dist/helpers.esm.js
node_modules/chart.js/dist/chunks/helpers.segment.js
node_modules/chart.js/helpers/helpers.esm.d.ts
node_modules/chart.js/helpers/helpers.esm.js
node_modules/chart.js/helpers/helpers.js
node_modules/chart.js/helpers/package.json
node_modules/chart.js/types/adapters.d.ts
node_modules/chart.js/types/animation.d.ts
node_modules/chart.js/types/basic.d.ts
node_modules/chart.js/types/color.d.ts
node_modules/chart.js/types/element.d.ts
node_modules/chart.js/types/geometric.d.ts
node_modules/chart.js/types/index.esm.d.ts
node_modules/chart.js/types/layout.d.ts
node_modules/chart.js/types/utils.d.ts
node_modules/chart.js/types/helpers/helpers.canvas.d.ts
node_modules/chart.js/types/helpers/helpers.collection.d.ts
node_modules/chart.js/types/helpers/helpers.color.d.ts
node_modules/chart.js/types/helpers/helpers.core.d.ts
node_modules/chart.js/types/helpers/helpers.curve.d.ts
node_modules/chart.js/types/helpers/helpers.dom.d.ts
node_modules/chart.js/types/helpers/helpers.easing.d.ts
node_modules/chart.js/types/helpers/helpers.extras.d.ts
node_modules/chart.js/types/helpers/helpers.interpolation.d.ts
node_modules/chart.js/types/helpers/helpers.intl.d.ts
node_modules/chart.js/types/helpers/helpers.math.d.ts
node_modules/chart.js/types/helpers/helpers.options.d.ts
node_modules/chart.js/types/helpers/helpers.rtl.d.ts
node_modules/chart.js/types/helpers/helpers.segment.d.ts
node_modules/chart.js/types/helpers/index.d.ts
