<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>TCG Admin APP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="canvas.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>


<div id="icon"><img src="https://cdn.glitch.com/26177e04-0027-4d57-924a-64ba8a938709%2FtrevorIcon.jpg?v=1627826527231"></div>
<h1>Welome to the FineLight TCG admin APP</h1>

<div id="linksBar">
<div id = "link">  
  <a href="/">Home</a> </div> 
   
  <div id = "link">
    <a href="/Stock"> Stock</a>
  </div>
  <div id = "link">
  <a href = "/reports"> Report </a>
  </div>
  <div id = "link">
  <a href = "/additem"> AddItem </a>
</div>
</div>

{{table}}

<canvas id = "canvas" width = "400" height = "400"> </canvas>